*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #FCFCFC;
  font-size: 10px;
}

h1 {
  text-transform: uppercase;
  font-family: sans-serif;
  margin-left: 22%;
}

.container {
  font-size: 1.5em;
  background-color: #DFDFDF;
  margin-top: 40px;
  padding-top: 40px;
  background-size: 300px;
}

.preview h1 {
  font-size: 1.5em;
  text-transform: none;
  margin: 10px;
  margin-top: 4%;
  background-size: auto;
}

.baku {
  background-image: url("../images/baku.jpg");
  background-size: cover;
}

.london {
  background-image: url("../images/london.png");
  background-size: cover;
}

.madrid {
  background-image: url("../images/madrid.jpg");
  background-size: cover;
}

.rome {
  background-image: url("../images/rome.jpg");
  background-size: cover;
}
